body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*COLORS PADRÃO SITE*/
:root{
  --white: #fff;
  --shadow: rgba(0,0,0,0.06);
  --form-fundo: #F2F2F2;
  --color-button: #6278F7;
  --color-white: #ffff;
  --label-buttonHover:#95FFD4;
  --fundoCard-programacao: #D9F7E9;
  --border-programacao:#57C278;
  --fundo-rodape:#6278F7;
}
