@import url("https://fonts.googleapis.com/css2?family=Atomic+Age&family=Domine:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Krona+One&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");

body {
  margin: 0;
  font-weight: 600;
  font-style: normal;
  font-family: "Domine", serif;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*COLORS PADRÃO SITE*/
:root {
  --white: #fff;
  --shadow: rgba(0, 0, 0, 0.06);
  --form-fundo: #f2f2f2;
  --color-button: #6278f7;
  --color-white: #ffff;
  --label-buttonHover: #95ffd4;
  --fundoCard-programacao: #d9f7e9;
  --border-programacao: #57c278;
  --fundo-rodape: #6278f7;
}

/*MEDIAS QUERYS*/
@media screen and (min-width: 1197px) and (max-width: 2000px) {
  .banner {
    height: 50dvh;
  }
  .image-home img {
    width: 250px;
  }
  .titulo-home h1,
  .titulo-home p {
    font-size: 32px;
  }
}

@media screen and (min-width: 300px) and (max-width: 1197px) {
  .banner {
    height: 52dvh;
  }
  .image-home img {
    display: none;
  }
  .titulo-home h1,
  .titulo-home p {
    font-size: 35px;
  }
  .Rodape {
    gap: 0.45rem;
  }
}

@media screen and (max-width: 600px) {
  .banner {
    height: 50dvh;
  }

  .titulo-home h1,
  .titulo-home p {
    font-size: 25px;
  }
}
