.banner {
  background-color: none;
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*ESTILIZAÇÃO VIDEO*/
.banner .back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  top: 3rem;
  width: 100%;
  object-fit: cover;
}

/*TITULO HOME SQUAD*/
.titulo-home {
  font-size: 22px;
  font-weight: 600;
}
